.sign-in {
    width: 440px;
    height: 650px;
    margin: 154px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;

    &__logo {
        position: relative;
        top: 35px;
    }

    &__img {
        width: 130px;
        height: 50px;
        margin: 0 auto;
    }

    &__main {
        width: 375px;
        margin: 0 auto;
    }

    &__title {
        font-size: 25px;
        font-weight: 600;
        margin-top: 15px;
    }

    &__form-login {}

    &__form-username,
    &__form-password {
        color: #222;
        border: 1px solid rgb(124, 106, 106);
        height: 45px;
        width: 100%;
        border-radius: 5px;
        padding-left: 7px;
        outline: none;
    }

    &__form-username {
        margin-top: 26px;
    }

    &__form-password {
        margin: 23px 0;
    }

    // &__link {
    //     color: blue;
    //     font-size: 15px;
    //     display: block;
    // }

    &__from-check {
        width: 100%;
        height: 20px;
        display: flex;
    }

    &__check {
        width: 10%;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid black;
        margin-left: -7px;
    }

    &__from-check-content {
        font-size: 13px;
        display: inline-block;
    }

    &__btn-login {
        width: 100%;
        height: 40px;
        border-radius: 3px;
        background-color: #f80;
        color: #fff;
        font-weight: 700;
        font-size: 17px;
        margin-top: 22px;
    }

    &__divider {
        width: 100%;
        height: 30px;
        margin-top: 15px;
        display: flex;
        align-items: center;
    }

    &__hr {
        height: 1px;
        border-top: 1px solid rgb(126, 106, 106);
        width: 35%;
    }

    &__other {
        width: 60%;
        font-size: 15px;
        align-items: center;
        margin-left: 13px;
        font-weight: 250;
    }

    &__login-account {
        margin-top: 15px;
        width: 100%;
        height: 70px;
    }

    &__login-account {
        display: flex;
    }

    &__login-account__item {
        display: flex;
        align-items: center;
        border: 1px solid rgb(141, 110, 110);
        width: 30%;
        height: 40px;
        border-radius: 3px;
    }

    &__login-account__item:nth-child(2) {
        margin-left: 5%;
    }

    &__login-account__item:nth-child(3) {
        margin-left: 5%;
    }

    &__login-account__img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-left: 4px;
    }

    &__login-account__facebook {
        font-size: 15px;
        font-weight: 500;
        margin-left: 10px;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }

    &__footer-left {
        font-size: 15px;
        font-weight: 200;
    }

    &__footer-right {
        margin-left: 5px;
        font-weight: 500;
        color: blue;
    }
}


// Reponse cho di dong.
@media(max-width: 768px) {
    .sign-in {
        width: 95%;
        margin: 0 auto;
        border-radius: 0;
        box-shadow: none;

        &__logo {
            top: 20px;
        }

        &__img {
            margin: 0;
        }

        &__main {
            width: 100%;
        }

        &__hr {
            width: 80%;
        }

        &__other {
            margin-left: 30px;
        }

        &__login-account__item {
            justify-content: center;
        }

        &__footer {
            justify-content: center;
        }
    }
}

@media(max-width: 480px) {
    .sign-in {

        &__other {
            width: 90%;
            font-size: 12px;
            margin-left: 10px;
        }
    }
}